<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jygj.summ.mapper.OrderSmallMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		mission_id AS missionId, mission_date AS missionDate, mission_week AS missionWeek, shop_id AS shopId, house_id AS houseId, mission_time AS missionTime, mission_price AS missionPrice, mission_hour AS missionHour, mission_status AS missionStatus, mission_backup AS missionBackup, train_id AS trainId, createtime, modifytime, createid, modifyid, isDel, order_id AS orderId, mission_cost AS missionCost, service_category_one AS serviceCategoryOne, service_category_two AS serviceCategoryTwo, order_type AS orderType, time_value AS timeValue, number, price_id AS priceId, mission_type AS missionType, mission_comment AS missionComment, mission_grade AS missionGrade
	</sql>

	<select id="getTodayMission" parameterType="java.util.Map" resultType="com.jygj.summ.model.response.TodatMission">
		SELECT
			os.mission_id AS missionId,
			os.mission_date AS missionDate,
			os.mission_time AS missionTime,
			os.mission_hour AS missionHour,
			os.mission_status AS missionStatus,
			os.order_type AS orderType,
			os.mission_type AS missionType,
			ci.customer_name AS customerName,
			ci.customer_phone AS customerPhone,
			ch.house_address  AS houseAddress
		FROM
			order_small os
		LEFT JOIN customer_house ch ON os.house_id = ch.house_id
		LEFT JOIN customer_info ci ON ch.customer_id = ci.customer_id
		LEFT JOIN order_small_nanny osn ON os.mission_id = osn.mission_id
		LEFT JOIN nanny_info ni ON osn.nanny_id = ni.nanny_id
		WHERE
			ni.nanny_id = #{nanny_id}
		AND os.mission_date = #{date}
	</select>
</mapper>